* {
    box-sizing: border-box;
}
:root {
    --clr-primary: skyblue;
    --clr-black: #000;
    --clr-white: #fff;
    --font-size-p: 18px;
}
::selection {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}
html, body {
    margin: 0;
}
body {
    font-size: var(--font-size-p);
}